.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navigation {
  --shadow-size: 100px;
  --shadow-size-neg: calc(-1 * var(--shadow-size));

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: var(--max-app-width);

  & header {
    padding: 1rem;
    border-right: 1px solid var(--theme-border-color);
    box-shadow: 0 0 var(--shadow-size) 1px rgba(0, 0, 0, 0.1);
    clip-path: inset(0 0 0 var(--shadow-size-neg));
    max-width: 20em;
    flex-shrink: 1;
  }

  & main {
    box-shadow: 0 0 var(--shadow-size) 1px rgba(0, 0, 0, 0.1);
    clip-path: inset(0 var(--shadow-size-neg) 0 0);
    width: 40em;
    max-width: 40em;
    flex-grow: 1;
    flex-shrink: 0;
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;

    & header {
      border-bottom: 1px solid var(--theme-border-color);
      width: calc(100% - 2rem);
    }

    & main {
      width: 100%;
    }

    & header,
    & main {
      max-width: 100%;
      box-shadow: none;
      clip-path: none;
    }
  }
}
